@model HumanServices.Models.Salidas

@{
    ViewBag.Title = "Delete";
}

<h2>Salidas</h2>

<h3>Esta usted seguro de que quiere elimnar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSalidas.TipoSalidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSalidas.TipoSalidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a lista", "Index")
        </div>
    }
</div>
