@model IEnumerable<HumanServices.Models.Salidas>

@{
    ViewBag.Title = "Index";
}

<h2>Salidas</h2>

<p>
    @Html.ActionLink("Añadir Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSalidas.TipoSalidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSalidas.TipoSalidas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaSalida)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SalidaId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.SalidaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.SalidaId })
        </td>
    </tr>
}

</table>
