@model IEnumerable<HumanServices.Models.Licencias>

@{
    ViewBag.Title = "Licencias";
}

<h2>Licencias</h2>

<p>
    @Html.ActionLink("Añadir Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleados.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motivos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LicenciasId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.LicenciasId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.LicenciasId })
        </td>
    </tr>
}

</table>
