@model HumanServices.Models.Nomina

@{
    ViewBag.Title = "Delete";
}

<h2>Nomina</h2>

<h3>Estas seguro de que quieres eliminar esto?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleados.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NominaTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NominaTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
