@model IEnumerable<HumanServices.Models.Nomina>

@{
    ViewBag.Title = "FiltroNomina";
}

<h2>Buscar Nomina</h2>

<p>
<p>

    <form class="" action="/Nominas/FiltroNomina" method="post">
<p>
    Busqueda por Año: @Html.DropDownList("Fecha", ViewBag.Meses as SelectList, "Seleccione")
        <input type="submit" name="" value="Buscar">
</p>
    </form>
</p>
</p>


<p>
<p>

    <form class="" action="/Nominas/FiltroNomina" method="post">
<p>
    Busqueda por Mes: @Html.DropDownList("Fecha", ViewBag.Anio as SelectList, "Seleccione")<br\>
        <input type="submit" name="" value="Buscar">
</p>
    </form>
</p>
</p>


<table class="table">
    <tr>
 
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominaTotal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominaTotal)
            </td>
            <td>
         
            </td>
        </tr>
    }

</table>
